*{
    padding: 0;
    margin: 0;
}
/* estilo da pagina toda */
.tudo {
    height: 100vh;
    width: 100vw;
}

/* estilo do menu */
.topoLadoEsquerdo {
    height: 7%;
    width: 50%;
    background-color:turquoise;
    left: 0;
    position: fixed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.topoLadoEsquerdo h2{
    font-size: 6vh;
}

/* estilo do lado esquerdo do topo */
.topoLadoDireito {
    height: 7%;
    width: 50%;
    position:fixed;
    right: 0;
    text-align: center;
    background-color: turquoise;
}



.topoLadoDireito button {
    height: 80%;
    width: 20%;
    top: 5px;
    position: relative;
    background-color: rgba(10,23,55,0.5);
    font-size: medium;
    color: white;
    border: none
}
.topoLadoDireito button:hover {
    height: 80%;
    width: 20%;
    top: 5px;
    position: relative;
    background-color: rgba(17, 51, 136, 0.671);
    font-size: medium;
    color: white;
    border: none
}



/* meio */
.centroSemRodape{
    height: 93vh;
    width: 100%;
    top: 7vh;
    background-color: white;
    position: relative;
}

/* Pag home */
.tudoHome{
    height: 100vh;
    width: 100vw;
    
}
.tudoHome img{
    height: 100%;
    width: 100%;
}

.menuHome {
    height: 15%;
    width: 100%;
    background-color: rgba(10,23,55,0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    text-align: center;
}

.menuHome button{
    height: 80%;
    width: 24%;
    top: 10px;
    position: relative;
    background-color: rgba(10,23,55,0.5);
    font-size: medium;
    color: white;
    border: none;
}

.menuHome button:hover {
    background-color: orange;
    cursor: pointer;
  }


/* pagina contato */

.redesSociais{
    height: 100%;
    width: 50%;
    background-color:white;
    left:0;
    position: fixed;
}


.formulario{
    height: 100%;
    width: 50%;
    background-color: white;
    right: 0;
    position: fixed
}

.card{
    height: 80%;
    width: 80%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    z-index: 1;
}
.contatos{
    height: 80%;
    width: 80%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 110vh;
    margin: auto;
    z-index: 1; 
}

#rd{
    text-align: center;
}

form{
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 9px #999;
}

input, textarea{
    width: 96%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 1px solid #999
}

label{ 
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

.card button{
    background-color: white;
    border: 1px solid blue;
    color: blue;
    font-weight: bold;
    padding: 15px;
    border-radius: 3px;
}

.card button:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* Portifolio */
.conteudoPortifolio{
    height: 90%;
    width: 80%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    box-shadow: 0 4px 9px #999;
}

.conteudoPortifolio img{
    height: 90%;
    width: 100%;
}

.conteudoPortifolio h3, p{
    text-align: center;
}

/* sobre */
.conteudoSobre{
    height: 90%;
    width: 80%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    box-shadow: 0 4px 9px #999;
}
.conteudoSobre ul{
    position: relative;
    display: inline-block;
    left: 40px
}

